<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet"  href="{% static 'css/vote.css' %}">
  </head>
  <body>
    <div class="headercontext">
      <img id='day' src="{% static 'img/ieeeday.png' %}" >
      <div class="banner">
        <p id='logo'>IEEE</p>
        <p id="date">Day 2022</p>

      </div>
      <ul class="items">
        <li class="item"><a class='itemlink' href="{% url 'home' %}">IEEE DAY</a></li
        <li class="item"><a class='itemlink' href="{% url 'post:list'%}">LEAVE A MESSAGE</a></li>
        <li class="item"><a class='itemlink' href="{% url 'vote:vote2' %} " id='dont'>VOTE</a></li>
        {% if user.is_authenticated %}
        <li class="item"><a class='itemlink' href="{% url 'accounts:logout' %}">logout</a></li>
        {% else %}
        <li class="item"><a  class='itemlink' href="{% url 'accounts:login' %}">LOG IN</a></li>
        <li class="item"><a class='itemlink' href="{% url 'accounts:signup' %}">SIGN UP</a></li>
        {% endif %}
      </ul>
    </div>
    <h1 id='qe'>{{poll.question}}</h1>
    <form   method="post">
      {% csrf_token %}
      <label><input type="radio" name="poll" value="option1" id='one'>{{poll.option_one}}</label><br>
      <label><input type="radio" name="poll" value="option2" id='two'>{{poll.option_two}}</label><br>
      <label><input type="radio" name="poll" value="option3" id='three'>{{poll.option_three}}</label><br>
      <label><input type="radio" name="poll" value="option4" id='four'>{{poll.option_four}}</label><br>
      <label><input type="radio" name="poll" value="option5" id='five'>{{poll.option_five}}</label><br>
      <label><input type="radio" name="poll" value="option6" id='six'>{{poll.option_six}}</label><br>
      <input class='done' type="submit" value="submit vote">

    </form>
    <div>
  <div class = "ballot">
    <div class = "letter" id = "v"></div>
    <div class = "letter" id = "o"></div>
    <div class = "letter" id = "t"></div>
    <div class = "letter" id = "e"></div>
  </div>
  <div class = "box">
    <div class = "opening"></div>
  </div>

</div>
  </body>
  <script src="{% static 'js/coolvote.js' %}">

  </script>
</html>
