{% load static%}
<!DOCTYPE html>
{% load bootstrap3 %}
{% load crispy_forms_tags %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/create.css' %}">
  </head>
  <body>
    <div class="headercontext">
      <img id='day' src="{% static 'img/ieeeday.png' %}" >
      <div class="banner">
        <p id='logo'>IEEE</p>
        <p id="date">Day 2022</p>

      </div>
      <ul class="items">
        <li class="item"><a class='itemlink' href="{% url 'home' %}">IEEE DAY</a></li
        <li class="item"><a class='itemlink' href="{% url 'post:list'%}">LEAVE A MESSAGE</a></li>
        <li class="item"><a class='itemlink' href="{% url 'vote:vote2' %}">VOTE</a></li>
        {% if user.is_authenticated %}
        <li class="item"><a class='itemlink' href="{% url 'accounts:logout' %}">logout</a></li>
        {% else %}
        <li class="item"><a  class='itemlink' href="{% url 'accounts:login' %}">LOG IN</a></li>
        <li class="item"><a class='itemlink' href="{% url 'accounts:signup' %}">SIGN UP</a></li>
        {% endif %}
      </ul>
    </div>
    <h1 id='message'>leave us a massage :)</h1>
    <form class='questions' method="post">
      {% csrf_token %}
      {{form|crispy}}
      <input id='post' type="submit" value="post">
    </form>
    <div id="particle-canvas"></div>
  </body>
  <script src="{% static 'js/cool.js' %}">

  </script>
</html>
